.achievements {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  &__card {
    position: relative;
    cursor: pointer;
    border: 1px solid #eeeeee;
    transition: $hoverTransition;
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
  &__title {
    font-size: 18px;
    font-weight: getWeight('bold');
    line-height: 2;
    letter-spacing: 0.06em;
    padding: 20px 24px 4px;
  }
  &__subtitle {
    line-height: 1.9;
    padding: 4px 24px 20px;
  }
  &__box {
    position: absolute;
    width: 450px;
    height: 294px;
    overflow: hidden;
  }
  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: $fullWidth;
    height: $fullHeight;
    font-size: 18px;
    line-height: 1.6;
    color: getColor('light');
    padding: 77px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: $hoverTransition;
  }
  &__img {
    display: block;
    max-width: $fullWidth;
    height: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .achievements {
    gap: 30px;
    &__box {
      position: absolute;
      width: 354px;
      height: 294px;
      overflow: hidden;
    }
    &__img {
      display: block;
      width: 354px;
      height: 294px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .achievements {
    &__box {
      position: absolute;
      width: 370px;
      height: 294px;
      overflow: hidden;
    }
    &__text {
      padding: 49px 43px 49px 24px;
    }
    &__img {
      display: block;
      width: 370px;
      height: 294px;
    }
  }
}
.achievements__card:hover .achievements__text {
  transform: translateY(0);
}
