.customers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
  padding-top: 50px;
  min-width: $fullWidth;
  &__box {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: calc((100% - 30px) / 2);
    height: 92px;
    border: 1px solid getColor('tertiary');
    border-radius: 4px;
    background: getColor('light');
    transition: $hoverTransition;
    &:hover,
    &:focus {
      border-color: getColor('secondary');
    }
  }
  &__icon {
    padding-top: 2px;
    fill: getColor('tertiary');
    transition: $hoverTransition;
    &:hover,
    &:focus {
      fill: getColor('secondary');
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .customers {
    &__box {
      flex-basis: calc((100% - 30px) / 3);
    }
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 170px;
  }
}
