.infos {
  padding-bottom: 60px;
  &__list {
    display: flex;
    flex-direction: column;
    max-width: 767px;
    min-width: $fullWidth;
    gap: 30px;
  }
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    background-color: getColor('bg_light');
    border-radius: 4px;
    margin-bottom: 30px;
  }
  &__icon {
    width: 70px;
    height: 70px;
  }
  &__title {
    font-family: $fontFamilyPrimary;
    font-size: 14px;
    font-weight: getWeight('bold');
    line-height: 1.1;
    text-align: center;
    text-transform: uppercase;
  }
  &__text {
    font-size: 14px;
    line-height: 1.7;
    padding-top: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .infos {
    &__list {
      flex-direction: row;
      flex-wrap: wrap;
      max-width: 354px;
    }
    &__title {
      text-align: left;
    }
    &__box {
      flex-basis: calc((100% - 30px) / 2);
    }
  }
}
@media screen and (min-width: 1200px) {
  .infos {
    padding-bottom: 0px;
    &__list {
      flex-direction: row;
      max-width: $defaultNone;
      min-width: $defaultNone;
    }
    &__item {
      display: inline-flex;
      width: 270px;
    }
    &__title {
      text-align: left;
    }
  }
}
