.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: $fullWidth;
  height: $fullHeight;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: getColor('light');
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%);
  &__btn {
    position: absolute;
    cursor: pointer;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding-top: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: getColor('light');
    fill: getColor('dark');
    transition: var(--hover-transition);
    &:hover,
    &:focus {
      border-color: rgba(33, 150, 243, 0.5);
      fill: $hoverTransition;
    }
  }
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: $defaultNone;
}
