.container {
  min-width: 320px;
  // max-width: 1199px;
  width: $fullWidth;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    width: $fullWidth;
    padding: 0;
    margin: 0 auto;
  }
}
.section {
  padding: 60px 0;
  &__head,
  &__text {
    font-size: 28px;
    font-weight: getWeight('bold');
    line-height: 1.2;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
    &__head,
    &__text {
      font-size: 36px;
    }
  }
}
