.container {
  min-width: 480px;
  width: $fullWidth;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  @include tablet {
    min-width: 768px;
  }
  @include desktop {
    max-width: 1200px;
    padding: 0;
    margin: 0 auto;
  }
}
.container__page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 40px;
  }
  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }
}
.section {
  padding: 60px 0;
  &__head,
  &__text {
    font-size: 28px;
    font-weight: getWeight('bold');
    line-height: 1.2;
    text-align: center;
  }
  @include desktop {
    .section {
      padding: 94px 0;
      &__head,
      &__text {
        font-size: 36px;
      }
    }
  }
}
