.container {
  min-width: 320px;
  max-width: 1199px;
  width: $fullWidth;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
    width: $fullWidth;
    margin: 0 auto;
  }
}
.section {
  padding: 94px 0;
  &__text {
    font-family: $fontFamilyPrimary;
    font-size: 36px;
    font-weight: getWeight('bold');
    line-height: 1.2;
    text-align: center;
  }
}
