.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 60px;
  padding: 8px 0;
  &__menu,
  &__contacts {
    display: $defaultNone;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-header {
    min-height: 80px;
    padding: 14px 0;
    &__menu {
      display: flex;
      gap: 60px;
      padding-left: 70px;
    }
    &__box {
      display: $defaultNone;
    }
    &__contacts {
      display: flex;
      flex-direction: column;
      margin-right: 15px;
    }
  }
  .contact {
    font-size: 12px;
    font-weight: getWeight('medium');
    line-height: 1.2;
    letter-spacing: 0.02em;
    padding: 5px 0;
  }
}
@media screen and (min-width: 1200px) {
  .page-header {
    padding: 24px 0;
    &__menu {
      display: flex;
      gap: 60px;
    }
    &__box {
      display: $defaultNone;
    }
    &__contacts {
      display: flex;
      gap: 30px;
    }
  }
}
.page-header__nav {
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  background-color: getColor('light');
  &__box {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .page-header__nav {
    padding: 0;
  }
}
.logo {
  font-family: $fontFamilySecondary, sans-serif;
  font-size: 24px;
  font-weight: getWeight('bold');
  line-height: 1.2;
  &--light {
    color: getColor('light');
  }
  &--dark {
    color: getColor('dark');
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    padding-right: 80px;
    font-size: 26px;
  }
}
.page-header__menu,
.page-header__contacts {
  font-size: 14px;
  font-weight: getWeight('medium');
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.page-header__link {
  position: relative;
  padding-bottom: 32px;
  color: getColor('primary');
  transition: $hoverTransition;
}
.page-header__link--active {
  @extend .page-header__link;
  color: getColor('secondary');
}
.page-header__link::after,
.page-header__link--active::after {
  content: '';
  position: absolute;
  width: 0;
  height: 4px;
  left: 50%;
  bottom: 0;
  background-color: getColor('secondary');
  border-radius: 2px;
  transform: translate(-50%, 0);
  transition: $hoverTransition;
}
.page-header__link:hover,
.page-header__link:focus {
  color: getColor('secondary');
  fill: currentColor;
  &::after,
  &::after {
    width: $fullWidth;
  }
}
.page-header__link--active::after {
  width: $fullWidth;
  transition-property: $defaultNone;
}
.contact {
  display: flex;
  align-items: center;
  color: getColor('medium');
  fill: currentColor;
  transition: $hoverTransition;
  &:hover {
    color: getColor('secondary');
    fill: currentColor;
  }
  &__icon {
    margin-right: 10px;
  }
}
// mobile-menu
.page-header__menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  background-color: transparent;
  fill: currentColor;
  cursor: pointer;
  border: $defaultNone;
  outline: $defaultNone;
  &:hover,
  &:focus {
    fill: getColor('secondary');
  }
}
.page-header__icon-burger {
  margin-right: 15px;
  &:hover,
  &:focus {
    fill: getColor('secondary');
  }
}
.page-header__menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: getColor('light');
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.page-header__menu-container.is-open {
  transform: translateX(0);
}
.page-header__menu-container .page-header__menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: getColor('primary');
}
.page-header__mobile-menu,
.page-header__mobile-social {
  padding: 0;
  margin-top: 9px;
  font-weight: getWeight('medium');
  line-height: 1.2;
  letter-spacing: 0.02em;
  list-style: $defaultNone;
}
.page-header__mobile-menu .page-link {
  display: block;
  font-size: 40px;
  padding: 10px;
  margin-bottom: 10px;
  color: getColor('primary');
  text-decoration: $defaultNone;
  &:hover {
    color: getColor('secondary');
  }
}
.page-header__mobile-menu .phone-link {
  display: block;
  font-size: 34px;
  padding: 10px;
  margin-top: 226px;
  color: getColor('secondary');
  text-decoration: $defaultNone;
}
.page-header__mobile-menu .mail-link {
  display: block;
  font-size: 24px;
  padding: 10px;
  margin: 12px 0 54px 0;
  color: getColor('medium');
  text-decoration: $defaultNone;
}
.page-header__mobile-social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.page-header__mobile-social .social-link {
  font-size: 18px;
  padding: 10px;
  color: getColor('secondary');
  text-decoration: $defaultNone;
}
.page-header__mobile-social .break-link {
  width: 22px;
  height: 0px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}
