.page-footer {
  padding: 56px 0;
  background-color: getColor('bg_dark');
  &__title {
    font-size: 14px;
    font-weight: getWeight('heavy');
    line-height: 1.1;
    text-transform: uppercase;
    color: getColor('light');
    padding-top: 60px;
  }
}
.container__page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.addr {
  font-size: 14px;
  line-height: 1.7;
  font-style: normal;
  padding-top: 15px;
  text-align: center;
  color: getColor('light');
  &__line {
    padding-top: 6px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .page-footer {
    &__title {
      padding-top: 9px;
    }
  }
  .container__page-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    // text-align: center;
    gap: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer {
    &__title {
      padding-top: 12px;
    }
  }
  .container__page-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    text-align: left;
  }
  .addr {
    padding-top: 11px;
    text-align: left;
    &__line {
      padding-top: 9px;
    }
  }
}
.footer-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  gap: 10px;
  &__icon {
    cursor: pointer;
    fill: getColor('light');
    background-color: rgba(255, 255, 255, 0.1);
    padding: 6px;
    border-radius: 50%;
    transition: $hoverTransition;
    &:hover {
      fill: getColor('light');
      background-color: getColor('secondary');
    }
  }
}
.footer-nsltr {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  gap: 20px;
  &__icon {
    margin-left: 24px;
  }
  &__email {
    line-height: 1.3;
    color: rgba(255, 255, 255, 0.6);
    width: 450px;
    height: 50px;
    padding-left: 16px;
    background-color: getColor('bg_dark');
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    &:focus {
      outline: $defaultNone;
      border-color: rgba(255, 255, 255, 0.3);
    }
  }
  &__btn {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    padding: 10px 28px 10px 42px;
    fill: getColor('light');
  }
}
@media screen and (min-width: 1200px) {
  .footer-nsltr {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    &__email {
      width: 358px;
    }
  }
}
