.slogan {
  padding: 120px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/team_480@x1.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: getColor('bg_dark');
  &__text {
    font-size: 26px;
    font-weight: getWeight('heavy');
    line-height: 1.6;
    letter-spacing: 0.06em;
    color: getColor('light');
    text-transform: uppercase;
  }
  &__btn {
    padding: 10px 41px;
    margin-top: 30px;
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .slogan {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/team_480@x2.jpg');
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .slogan {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/team_768@x1.jpg');
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .slogan {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/team_768@x2.jpg');
  }
}
@media screen and (min-width: 1200px) {
  .slogan {
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/team_1600@x1.jpg');
    &__text {
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .slogan {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/team_1600@x2.jpg');
  }
}
.slogan__btn,
.footer-nsltr__btn,
.form__btn {
  cursor: pointer;
  color: getColor('light');
  background-color: getColor('secondary');
  font-weight: getWeight('bold');
  line-height: 1.9;
  letter-spacing: 0.06em;
  border: $defaultNone;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
