.team {
  background-color: getColor('bg_light');
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    line-height: 1.2;
    text-align: center;
    padding-top: 50px;
    gap: 30px;
  }
  &__card {
    height: 622px;
    background-color: getColor('light');
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__img {
    display: block;
    max-width: $fullWidth;
    height: auto;
  }
  &__title {
    font-weight: getWeight('medium');
    font-size: 16px;
    line-height: 1.2;
    padding-top: 30px;
    text-transform: $defaultNone;
  }
  &__text {
    font-size: 16px;
    line-height: 1.2;
    padding-top: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team {
    &__card {
      height: 536px;
    }
    &__img {
      width: 354px;
      height: 374px;
    }
  }
}
@media screen and (min-width: 1200px) {
  .team {
    flex-wrap: nowrap;
    &__card {
      height: 428px;
    }
    &__img {
      width: 270px;
      height: 260px;
    }
  }
}
.team-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 122px 24px;
  &__icon {
    cursor: pointer;
    fill: getColor('tertiary');
    padding: 6px;
    border-radius: 50%;
    transition: $hoverTransition;
    &:hover {
      fill: getColor('light');
      background-color: getColor('secondary');
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team-links {
    padding: 16px 74px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .team-links {
    padding: 16px 32px 30px;
  }
}
